<template>
    <div id="app">
        <div class="ui container centered stackable grid">
            <div class="two column centered row">
                <h2 class="ui icon header">
                    <img class="ui small bordered image" src="./assets/logo.png">
                    <div class="content">
                        Semantic Modal Example
                        <div class="sub header">Using semantic modal with vue.js.</div>

                    </div>
                </h2>
            </div>
            <div class="row ui centered equal width grid">
                <div class="center aligned column">
                    <button class="ui primary button" @click=showPersonModal()>Show person modal</button>
                    <button class="ui secondary button" @click=showCompanyModal()>Show company modal</button>
                </div>
            </div>

            <div class="row ui centered equal width grid">
                <div class="center aligned column">
                    <div class="ui label" v-show=companyName>
                        <i class="building icon"></i>
                        Company
                        <a class="detail">{{ companyName }}</a>
                    </div>

                    <div class="ui label" v-show=userName>
                        <i class="user icon"></i>
                        Person
                        <a class="detail">{{ userName }}</a>
                    </div>
                </div>
            </div>
        </div>

        <person-form :form-opts="{inline: true}" :show=personModalVisible :display-close=false
                     @save=onPersonSave @hide=onPersonHide></person-form>
        <company-form :show=companyModalVisible :display-close=false @save=onCompanySave
                      @hide=onCompanyHide></company-form>

    </div>
</template>

<script>
    import personForm from './PersonForm.vue'
    import companyForm from './CompanyForm.vue'

    export default {

        data () {
            return {
                companyName: '',
                userName: '',
                personModalVisible: false,
                companyModalVisible: false
            }
        },
        methods: {
            showPersonModal () {
                this.personModalVisible = true
            },
            onPersonSave (data) {
                this.userName = data
            },
            onPersonHide () {
                this.personModalVisible = false
            },
            showCompanyModal () {
                this.companyModalVisible = true
            },
            onCompanySave (data) {
                this.companyName = data
            },
            onCompanyHide () {
                this.companyModalVisible = false
            }
        },
        components: { personForm, companyForm }
    }
</script>

<style lang="sass">
    @import '../node_modules/semantic-ui-css/semantic.min.css'
</style>
