<template>
    <div class="ui modal" :class="{ 'active': show }">
        <div class="ui header">Company Modal
            <div class="ui right floated tiny sub header" v-show="displayClose">
                <i class="close tiny link icon" @click=close></i>
            </div>
        </div>
        <div class="content">
            <form class="ui form" @submit.stop.prevent="save">
                <div class="required field">
                    <label>User name</label>
                    <input type="text" name="name" v-model="name" placeholder="Your name"/>
                </div>
                <button class="ui primary submit button" type="submit">Submit</button>
            </form>
        </div>
    </div>
</template>

<style>
</style>

<script>
    import $ from 'jquery'
    import {assign} from 'lodash'
    import modalMixin from './mixins/modal'

    const defaultFormOpts = {
        on: 'blur',
        inline: true,
        keyboardShortcuts: false,
        fields: {
            name: 'empty'
        }
    }

    export default {
        mixins: [ modalMixin ],
        mounted () {
            var assignedFormOpts = assign({}, defaultFormOpts, this.formOpts);

            this.$nextTick(function () {
                let self = this
                self.$formEl = $('.ui.form', this.$el)
                self.$modal.modal({
                    transition: 'horizontal flip',
                    onHidden () {
                        self.name = ''
                        self.$formEl.form(assignedFormOpts)
                        self.$emit('hide')
                    }
                })
                self.$formEl.form(assignedFormOpts)
            })
        },
        data () {
            return {
                name: ''
            }
        },
        methods: {
            save () {
                if (this.$formEl.form('is valid')) {
                    let name = this.$formEl.form('get value', 'name')
                    this.$emit('save', name)
                    this.close()
                }
            }
        }
    }
</script>
